<f:if condition="{gallery.position.vertical} != 'below'">
	<f:render partial="Media/Gallery" arguments="{_all}" />
</f:if>

<f:if condition="{data.bodytext}">
	<f:then>
		<div class="ce-bodytext">
			<f:if condition="{gallery.position.noWrap}">
				<f:render partial="Header/All" arguments="{_all}" />
			</f:if>
			<f:format.html>{data.bodytext}</f:format.html>
		</div>
	</f:then>
	<f:else>
		<f:if condition="{gallery.position.noWrap}">
			<f:if condition="{data.header}">
				<div class="ce-bodytext">
					<f:render partial="Header/All" arguments="{_all}" />
				</div>
			</f:if>
		</f:if>
	</f:else>
</f:if>

<f:if condition="{gallery.position.vertical} == 'below'">
	<f:render partial="Media/Gallery" arguments="{_all}" />
</f:if>

